.center-block {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.center-block a{
    padding-left:3rem;
    padding-right:3rem;
    padding-top:3rem;
    padding-bottom:3rem;
}